/* Title */
.md-content h1 {
    font-size: 1.8rem;
}

/* Module path */
.md-content h2 {
    font-size: 1.4rem;
}

/* Class names */
.md-content h4 {
    font-size: 1.2rem;
}

/* Groups */
.md-content h5 {
    font-size: 1.0rem;
}

/* Attribute, method... names */
.md-content h6 {
    font-size: 0.9rem;
}


